<div class="jumbotron" *ngIf="!isLoggedIn">
  <h1 class="display-3">COOL STOCKS</h1>
  <p>Check all your stocks here</p>
</div>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Value</th>
    <th *ngIf="isLoggedIn">Delete stock</th>
  </thead>
  <tbody>
    <tr app-table-row *ngFor="let stock of stocks; let i = index" [stockitem]="stock" [index]="i"></tr>
  </tbody>
</table>
<p *ngIf="stocks.length == 0">No stocks to display yet! Get an admin to add one, and they will appear here.</p>
<!-- <button (click)="sendMessage()">bobobo</button> -->

